@charset "utf-8";
/* 맨위에 utf-8 인코딩 표시 필수! */
/* css 영역내 주석문 */

/* 웹 폰트 CDN(Content Delevery Network) */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gothic+A1&family=Gugi&family=Moirai+One&family=Noto+Sans+KR&display=swap');

/* 
    웹폰트 font-family 이름
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Moirai One', cursive;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* 
    @import url(주소)
    - 외부 CSS를 불러올때 사용하는 형식
    - 외부 CSS 파일을 하나로 합칠 때 많이 사용함
*/

/* 
    [ 모든 요소 공통 디자인 요소 : 박스모델 ]
    1. 크기 : width 가로, height 세로
    2. 경계선 : border 
    3. 내부여백 : padding
    4. 외부여백 : margin
    (여백 공통 방향 : top, bottom, left, right)

    _____________________________________________
    [ CSS 속성셋팅 형식 ]
    선택자{
        속성 : 값;
    }

    [ CSS 선택자 ]
    1. 타입 선택자 : 태그명 (div, p, a등)
    2. 아이디 선택자 : #아이디명
    3. 클래스 선택자 : .클래스명
    4. 자손 선택자 : 띄어쓰기 (div a)
    5. 직계자식 선택자 : 오른쪽 꺽쇠 (div > a)
    6. 종속 선택자 : 요소명#id명 or 요소명.class명
    (div.mymy -> div인데 클래스가 mymy)
    7. 형제 선택자 : 요소 + 요소 (a+a)
    -> 앞의 요소가 있는 형제요소를 선택
    8. 그룹 선택자 : 선택자, 선택자(html, body, p)
    -> 여러요소를 동시에 선택함
*/

/* 요소의 초기화 
- 기존에 기본셋팅값중 마진/패진 초기화 */
html, body, h1, h2, figure{
    margin: 0;
    padding: 0;
}

/* 레이아웃 박스 공통 디자인 */
.bx{
    /* 크기 : w800 -> 가로크기 */
    /* width: 800px; */

    /* 최대 가로크기 1000px의 의미는 1000px보다 안커지고 작을 경우 auto로 전환함 (부모박스 크기로 맞춤) */
    max-width: 1000px; /* maw */
    /* 최소 가로 크기를 설정하면 최소크기보다 작아지지 않는다. */
    min-width: 350px;
    
    /* 외곽선 */
    /* border: 4px double darkcyan; */
    border: 3px dashed darkcyan;
    
    /* 패딩 */
    padding: 30px;
    /* 마진 : 마영오씨를 무대 중앙으로 모시겠습니다. */
    margin: 0 auto;
    /* 양쪽 마진을 auto로 쓰면 등분할되어 박스가 중앙위치 */
    /* 
        [ 마진/패딩 공통 개수별 정의 ]
        margin : 4방향;
        margin : 위아래 양쪽; (2개)
        margin : 위 양쪽 아래; (3개)
        margin : 위 오른 아래 왼; (4개 - 시계방향) 
    */

    /* 둥근 모서리 : border-radius */
    border-radius: 15px;

}

/* 상단, 하단만 중앙정렬 */
#top, #info{
    /* 텍스트 중앙 : tac */
    text-align: center;
}

/* 메인 이미지 */
.cimg{
    width: 100%;
    /* w100p */
    /* 
        100%의 기준은 싸고 있는 블록박스의
        content영역을 말함
        (보더/패딩 제외 내부영역)
    */
}

/* 1. 상단영역 */
#top{
    background-color: #ccdee3;
}

/* 타이틀 */
#top h1{
    color: #41779f;
    font-size: 40px;
    font-weight: normal; /* fwn 글자두께 기본 */
    
    /* 
        font-family 글씨체
        값 - 콤마로 구분하여 우선순위 적용함
        (상위체가 없으면 하위체를 적용, 이도없으면 브라우저 기본체로 표시)
    */
    font-family: 'Gugi', cursive;
    
    /* 
        text-shadow : 글자 그림자
        값 x축 y축 블러(경계흐림) 색
        -> 콤마로 다중 그림자 사용 가능!
    */
    text-shadow: 2px 2px 2px #0000008c;
    margin: 10px 0;
}

/* 메뉴링크 */
#gnb a {
    color: #605d75;
    text-decoration: none; /*tdn*/
    font-size: 22px; /*fz*/
    font-family: 'Bagel Fat One', cursive; /*ff*/
    vertical-align: -3px; /*va-3*/
    /* 
    vertical-align : 인라인요소간 세로 정렬
    값 - top / bottom / middle / baseline / 수치
    */
}

/* 가상 클래스 : hover 마우스오버시 */
/* a+a는 앞에 a요소가 있는 형제 a요소를 선택 결과적으로 첫 번째 a요소가 선택되지 않는다. */
#gnb a+a:hover {
    /* a 태그인데 클래스가 haha인 것 */
    color: honeydew; /* alt shift a */
    /* 글자 데코 : 윗줄 물결 모양 */
    text-decoration: overline;
    text-decoration-style: wavy;
}   

/* 로고 이미지 */
#gnb img {
    vertical-align: -4px;
}

/* 2. 메인영역 */
#cont {
    margin: 20px auto;
}

/* 3. 하단영역 */
#info {
    background-color: #ccc;
}

/* 회사 주소 */
#info address {
    /* 기본글자 이탤릭 스타일 없애기 */
    font-style: normal;
    font-family: 'Gothic A1', sans-serif;
    color: darkcyan;
}

/* 대표자 span */
span.utxt{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}

/* 종석선택자로 같은 이름의 클래스인데 다른 디자인으로 변경하여 셋팅하기 */
b.utxt{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}
