@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부 CSS 합치기 */
@import url(./common.css);

/* 서브 타이틀 */
h2.stit {
    color: #bacddd;
    font-size: 39px;
    font-family: 'Bagel Fat One', cursive;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #000000c7;
    
    border-radius: 10px;

    /* 
        [ outline 요소 ]
        box모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        박스자체에 크기에 영향을 주지 않음
        outline : 두께 종류 색상
        
        -> border와 셋팅이 같음
        단, border-radius 둥근모서리는 보더만 적용되었으나 아웃트라인도 됨 이제는...

        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선표시가 됨
    */

    /* outline: 1px solid red; */
    padding: 40px;
    
    /* 배경 넣기 : 한 번에 쓰기 */
    /* background: url(../images/afig4.jpg) no-repeat 
center/cover;
    /* background: 색이반고윙/크; 
        배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별 쓰기 */
    /* 반복 여부 */
    background-repeat: no-repeat;
    /* 배경 위치 : 가로 세로 */
    background-position: center;
    /* 배경 크기 : 가로 세로 (cover - 박스채우기) */
    background-size: cover;

    box-shadow: 4px 4px 4px #000;
    margin-bottom: 30px;
}
/* IT/과학 배경이미지 */
.st4{
    /* 배경 이미지 */
    background-image: url(../images/afig4.jpg);
}

/* TV/연예 배경이미지 */
/* .st5의 적용우선순위를 높이기 위해 부모요소를 써줌 */
#cont .st5{
    /* 배경 이미지 */
    background-image: url(../images/afig5.jpg);
    /* 배경 위치 변경 - y축                                                                                                                                                                                                */
    background-position-y: -120px;

    padding: 80px;
    color: blueviolet;
}