@charset "utf-8";
/* 서브페이지용 CSS - sub.css */

/* 공통외부 CSS 합치기 */
@import url(./common.css);
/* 웹 폰트 CDN(Content Delevery Network) */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gothic+A1&family=Gugi&family=Moirai+One&family=Noto+Sans+KR&display=swap');

/* 
    웹폰트 font-family 이름
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Gugi', cursive;
    font-family: 'Moirai One', cursive;
    font-family: 'Noto Sans KR', sans-serif;
*/

/* 서브페이지 공통 글자 설정 */
#cont {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 서브 타이틀 */
h2.stit {
    color: #bacddd;
    font-size: 39px;
    font-family: 'Bagel Fat One', cursive;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px 2px #000000c7;
    
    border-radius: 10px;

    /* 
        [ outline 요소 ]
        box모델의 필수속성은 아니지만
        박스의 외곽선을 표현해주며
        박스자체에 크기에 영향을 주지 않음
        outline : 두께 종류 색상
        
        -> border와 셋팅이 같음
        단, border-radius 둥근모서리는 보더만 적용되었으나 아웃트라인도 됨 이제는...

        -> 주로 사용되는 예는 input 입력창에서 포커스가 갈 경우 외곽선표시가 됨
    */

    /* outline: 1px solid red; */
    padding: 40px;
    
    /* 배경 넣기 : 한 번에 쓰기 */
    /* background: url(../images/afig4.jpg) no-repeat 
center/cover;
    /* background: 색이반고윙/크; 
        배경색 이미지 반복 고정 위치/크기
    */

    /* 배경넣기 : 속성별 쓰기 */
    /* 반복 여부 */
    background-repeat: no-repeat;
    /* 배경 위치 : 가로 세로 */
    background-position: center;
    /* 배경 크기 : 가로 세로 (cover - 박스채우기) */
    background-size: cover;

    /* box-shadow: 4px 4px 4px #000; */
    /* 박스 그림자 */
    box-shadow : 
        inset 0 0 6px 5px #be66668a,
        0 0 4px 5px rgb(123, 207, 120);
    /* 
        [ box-shadow 속성 ]
        - 박스 외부/내부 그림자 설정 속성
        - 값 : x축 y축 blur spread 색
        text-shadow와 달리 spread 속성이 있음
        이것은 그림자를 커지게 함
        - 내부 그림자 옵션 : inset
        - 그림자 다중 설정 : 콤마로 연속사용 가능

    */
    margin-bottom: 30px;
}
/* IT/과학 배경이미지 */
h2.st4{
    /* 배경 이미지 */
    background-image: url(../images/afig4.jpg);
}

/* TV/연예 배경이미지 */
/* .st5의 적용우선순위를 높이기 위해 부모요소를 써줌 */
h2.st5{
    /* 배경 이미지 */
    background-image: url(../images/afig5.jpg);
    /* 배경 위치 변경 - y축                                                                                                                                                                                                */
    background-position-y: -120px;

    padding: 80px;
    color: blueviolet;
}

/* 언론사 로고 */
.prlogo img {
    height: 32px;
    /* 
        이미지는 기본 비율을 가지고 있어서 가로, 세로 중 한쪽만 크기를 주면 나머지 방향은 자동으로 비율을 유지한다.
        가로, 세로를 다 주면 비율이 깨짐
    */
}

/* 기사 타이틀 */
.arti{
    font-size: 30px;
}


/* 기사 이미지 박스 */
.afig{
    margin-bottom: 40px;
}

/* 기사 이미지 */
.afig img{
    width: 100%;
}

/* 기사 이미지 설명 */
.afig figcaption{
    font-size: 15px;
    text-align: center;
    color: #767676;
}

/* 기사 문단 */
.acont p{
    font-size: 17px;
    color: #303038;
    
    /* 자간 : ls */
    letter-spacing: 2px;
    /* 단어 간격 */
    word-spacing: 1px;
    /* 양쪽 정렬 */
    text-align: justify;
    /* 줄 간격 lh */
    /* 글자 라인간 간격을 조정함
    숫자만 쓰면 배수임 (글자 높이값에 대한 배수) 
    단위를 쓰면 단위에 맞게 줄간격 조정 
    -> 줄간격의 응용은 버튼 등의 글자를 
    세로 중앙에 오게 할때 박스 높이 값 만큼 준다 */
    line-height: 2.1;
}

/* 강조 em요소 디자인 변경 */
.acont p em{
    /* 이탤릭 해제 */
    font-style: normal;
    /* 글자색 변경 */
    color: darkmagenta;
    /* 글자 두껍게 */
    font-weight: bold;
    /* 글자 그림자 */
    text-shadow: 2px 2px 2px #87bcdf;
}

/* mark요소 디자인 변경하기 */
.acont p mark{
    display: block;
    background-color: #ebebeb;
    text-align: center;
    margin: 15px auto;
    padding: 20px 50px;
    font-size: 20px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    color: darkorange;
    font-family: "Black And White Picture", "궁서";
    width: 65%;
}

/* 유튜브 동영상박스 */
.mvbx{
    height: 550px;
    /* 
        div와 같은 block 요소는 width 설정을 하지 않으면 
        width : auto로 자동 설정됨
        이는 싸고 있는 박스 컨텐트 영역을 자동으로 채워준다.
    */
}

.mvbx iframe{
    border : none;
    width: 100%;
    height: 100%;
}

/* 인용블록 영역 */
.bqbx{
    padding: 20px 0;
    margin: 20px 0 ;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
}

.bqbx blockquote{
    padding: 15px 0;
    line-height: 2;

}

/* 인용블록 이미지 */
.bqbx img{
    float: right;
    border-radius: 5px;
    margin-left: 20px;
}

/* 주해 박스 */
.desc{
    border-top: 2px dashed #ccc;
    padding: 20px 0;
    border-bottom: 2px dashed #ccc;
    font-size: 15px;
    line-height: 2;
}

.desc div{
    padding: 15px 0;
}

/* article 제목 공통 */
.atbx h5{
    /* 배경색 */
    background-color: #ebebeb;
    /* 패딩 */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 55%);
    font-size: 20px;
    color: #333;
    margin: 0;
}

/* 기사 원문 */
.alink{
     text-align: right;
}

.alink a{
    font-size: 20px;

    /* 디자인 적용을 위해 display 변경하기 */
    display: inline-block;
    
    width: 100px;
    height: 100px;
    border: 1px solid darkcyan;
    border-radius: 50%; /* 원형 */
    
    /* 줄간격으로 세로 글자 중앙 
    - 높이값과 같음 */
    line-height: 100px;
    
    /* 가로 정렬 - 중앙 */
    text-align: center;
    
    /* a 요소 기본 글자색 변경, 밑줄 변경 */
    color: #000;
    background-color: #bacddd;
    text-decoration: none;
}

/* 마우스 오버시 변경 */
.alink a:hover{
    color: rgb(253, 6, 88);
    background-color: khaki;
    box-shadow: 0 0 10px 5px steelblue;
}

/* 오늘의 작품&느낌 */
.work{
    text-align: center;
    /* 배경색 */
    /* background-color: lightpink; */

    /* 그라데이션 -> 이미지로! bgi */
    background-image: linear-gradient(45deg, #e5cdeb 10%, #add7d3, #9aa3d7);
    /* 
        [ 선형 그라데이션 : linear-gradient ] 
        background-image: linear-gradient(방향, 색1, 색2);
        background-image: linear-gradient(방향, 색1 몇 %, 색2 몇 %);
        background-image: linear-gradient(각도, 색1 몇 %, 색2 몇 %);
        - 옵션
            1. 방향 : to top, to bottom, to left, to right
            2. 각도 : 각도 deg
            3. 콤마로 나열된 색상에 %를 뒤에 쓰면 비율 조정 가능
     */
     /* border: 50px dotted #87df9d;
     padding: 50px; */

     /* 
        배경옵션 추가 
        background-clip : 배경이 적용되는 범위 설정
        1. border-box -> 보더까지 적용 (기본값)
        2. padding-box -> 패딩까지 적용
        3. content-box -> 내용영역만 적용 (패딩, 보더 빠짐)
    */
    background-clip: content-box;
    box-shadow: inset 0 0 10px #00000059;
}

/* 작품 타이틀 */
.work h3{
    font-family: 'Gugi', cursive;
    font-weight: normal;
    font-size: 28px;
    color: #333;
    padding-top: 20px;
}

/* 작품 이미지 */
.work img{
    /* ridge 액자 틀 모양 */
    border: 15px ridge goldenrod;
}

/* 작품명 */
.work figcaption{
    font-family:'Noto Sans KR', sans-serif;
    font-size: 20px;
    padding: 10px;
}

/* 작품명 인용구 */
.work figcaption cite{
    font-style: normal;
    color: darkmagenta;
}

/* 뉴스 파트 공통 class */
.nbx{
    border-top: 2px dashed #ccc;
    margin: 20px 0;
    padding: 20px 0;
}

/* 뉴스 파트 공통 a요소 */
.nbx a{
    /* 글자크기 fz */
    font-size: 17px;
    /* 줄 간격 lh */
    line-height: 2.5;
    /* 글자색 c */
    color: #222;
    /* 밑줄 없앰 */
    text-decoration: none;
}

/* 공통 a 마우스 오버시 */
.nbx a:hover{
    color: yellowgreen;
    text-shadow: 1px 1px 1px #000;
}

/* 뉴스 타이틀 공통 */
.nbx h3{
    font-family: 'Gugi', cursive;
    font-weight: normal;
    font-size: 30px;
    background-image: linear-gradient(to right, rgb(240, 129, 129), rgb(236, 219, 187), rgba(226, 226, 30, 0.418), transparent);
    padding: 10px;
}