@charset "utf-8";
/* 어벤저스 CSS - avengers.css */

/* 웹폰트 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap");

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/

/* 파일 합치기 */
@import url(./reset.css);

/* 전체 배경넣기 
- 가상요소로 배경고정을 대신함
- 이유 : ios에서 배경 fixed 미지원 */
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../ab_img/space.jpg) no-repeat fixed center/cover;
}

html{
    /* rem단위를 위한 root글자 설정! */
    font-size: 10px;
}

body{
    color: #fff;
}
/* 공사중 */
body *{
    outline: 2px dashed yellow;
}

/******************** 공통 클래스 ********************/
/* 페이지 클래스 */
.page{
    /* 부모자격 */
    position: relative;
    height: 100vh;
}

/* 공통타이틀 */
.tit{
    text-align: center;
    font-size: 4rem;
}

/********************* 개별요소 디자인 *********************/
.avengers-box{
    position: absolute;
    /* 부모는 .page */
    top: calc(50% - (400px / 2));
    left: calc(50% - (300px / 2));
    /* 부모박스 정중앙 */
    width: 300px;
    height: 400px;
    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
    border-radius: 50%;
    box-shadow: 0 0 50px 10px cyan,     /* 바깥 글로우 */
        inset 0 0 30px lightgreen;      /* 내부 글로우 */
}

/* 캐릭터 공통 */
.hero{
    position: absolute;
    /* 부모는? .avengers-box 정중앙 */
    top: calc(50% - 150px/2);
    left: calc(50% - 150px/2);

    width: 150px;
    height: 150px;
}

/* 어벤저스 이미지 */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}